/* PrintableDocumentStyles.css */
.page {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #fff;
    padding: 1.5cm; /* Espaçamento interno */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*width: 21cm;  /*Largura padrão de uma folha A4 */
    /*height: 29.7cm; /* Altura padrão de uma folha A4 */
    padding: 1.5cm;
    margin: auto; /* Centraliza na visualização de impressão */
    box-shadow: none; /* Remove sombras na impressão */
  }
  
  .primary-color {
    color: #a26e35; /* Cor fornecida */
    font-size: 30px; /* Exemplo de tamanho da fonte, ajuste conforme necessário */
    text-align: center; /* Centraliza o texto */
    width: 100%; /* Garante que a caixa de texto ocupe toda a largura disponível */
    display: block; /* Faz com que a span se comporte como block, permitindo o uso de text-align */
  }

  .header {
    /* Ajustes para corresponder ao modelo */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2cm; /* Espaçamento para corresponder ao modelo */
  }
  
  .logo {
    width: 4cm; /* Largura da logo */
    height: 4cm; /* Altura da logo */
  }
  
  .title {
    flex-grow: 1;
    text-align: right; /* Alinha o texto à direita */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .section-title {
    font-weight: bold;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  
  .section-content {
    margin-bottom: 10px;
  }
  
 .footer {
  font-size: 12px;
  position: fixed; /* Fixa o rodapé na parte inferior da página */
  bottom: 1cm; /* Espaçamento do fundo da página */
  left: 1.5cm; /* Alinhamento com o lado esquerdo da página */
  right: 1.5cm; /* Alinhamento com o lado direito da página */
  text-align: center; /* Centraliza o texto no rodapé */
}
  
  @media print {
    .print-button, .modal-background, .modal-close-button {
      display: none;
    }
  }
  
  @media screen {
    .modal-background {
      /* Estilos para o fundo do modal quando visualizado na tela */
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .modal-close-button {
      /* Estilos para o botão de fechar o modal */
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      border: none;
      background: none;
      font-size: 20px;
      cursor: pointer;
    }
    .page {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      margin: 20px auto; /* Centraliza na tela */
      height: auto; /* Altura automática na tela */
    }
  }
  