/* Estilo da página de impressão */
.page {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #fff;
  padding: 1.5cm;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  box-shadow: none;
}

/* Cor primária usada no cabeçalho */
.primary-color {
  color: #a26e35;
  font-size: 30px;
  text-align: center;
  width: 100%;
  display: block;
}

/* Estilo do cabeçalho */
.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1cm; /* Reduzido para aproximar do conteúdo */
}

/* Estilo do logo */
.logo {
  width: 4cm;
  height: 4cm;
}

/* Estilo do título da clínica */
.title {
  flex-grow: 1;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Estilo principal dos títulos (centraliza e ajusta a fonte) */
.main-title {
  text-align: center;
  font-weight: bold;
  color: black;
  width: 100%;
  font-size: 22px;
  text-decoration: underline; /* Adiciona sublinhado */
}

/* Estilo da linha sutil */
.subtle-line {
  border-top: 2px solid #a26e35; /* Cor alterada para #a26e35 e espessura ajustada */
  margin-top: -10px; /* Aproxima a linha do cabeçalho */
  margin-bottom: 10px;
}

/* Estilo dos subtítulos */
.section-title {
  font-weight: bold;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 5px;
}

/* Estilo do cabeçalho da prescrição */
.prescription-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilo do título da prescrição */
.prescription-title {
  font-weight: bold;
  color: black;
}

/* Estilo da data de impressão */
.print-date {
  text-align: right;
  color: black;
}

/* Estilo do conteúdo da seção */
.section-content {
  margin-bottom: 10px;
}

/* Estilo do rodapé */
.footer {
  font-size: 12px;
  position: fixed;
  bottom: 1cm;
  left: 1.5cm;
  right: 1.5cm;
  text-align: center;
}

/* Estilo da assinatura e informações do médico */
.doctor-signature {
  margin-top: 30px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: 4.5cm; /* Subir o campo da assinatura */
  left: 0;
  right: 0;
}

.signature-line {
  display: block;
  margin-bottom: 5px;
}

/* Estilo das informações do médico */
.doctor-info {
  font-size: 14px;
  color: #000000;
}

/* Estilo do conteúdo do modal */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

/* Estilo do wrapper do modal */
.modal-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Estilo do contêiner dos botões de impressão */
.button-container-print {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

/* Estilo dos botões customizados */
.custom-button {
  background-color: #a26e35 !important;
  color: #ffffff !important;
  font-weight: bold !important;
  padding: 10px 20px !important;
  margin: 10px 0 !important;
  border: none !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  transition: background-color 0.3s !important;
}

/* Estilo dos botões ao passar o mouse */
.custom-button:hover {
  background-color: #895825 !important;
}

/* Estilos específicos para impressão */
@media print {
  .print-button, .cancel-button, .modal-background {
    display: none;
  }
}

/* Estilos específicos para tela */
@media screen {
  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
}
