/* PrintableDocumentStyles.css */

.modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-wrapper {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 210mm;
  height: 297mm;
}

.page {
  padding: 20mm;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza horizontalmente */
}

.logo {
  width: 60px;
  height: auto;
  margin-right: 20px; /* Espaço entre o logo e o título */
}

.title {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-grow: 1; /* Faz com que o contêiner do título cresça para ocupar o espaço disponível */
  text-align: center; /* Garante que o texto do título esteja centralizado */
}

.primary-color {
  color: #a26e35; /* Exemplo de cor primária */
}

.title-text {
  display: inline-block; /* Garante que o texto do título não ocupe mais espaço que o necessário */
}

.document-title {
  text-align: center;
  margin-bottom: 10mm;
}

.main-title {
  font-size: 18px;
  font-weight: bold;
}

.patient-info-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10mm;
}

.patient-info, .print-date {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
}

.info {
  margin-left: 10px;
}

.prescription-header {
  margin-bottom: 5mm;
}

.prescription-title {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.section-content {
  margin-top: 10mm;
  margin-bottom: 10mm;
  text-align: left;
}

.doctor-signature {
  text-align: center;
  margin-top: 20mm;
}

.signature-line {
  display: block;
  margin-bottom: 5mm;
}

.footer {
  text-align: center;
  position: fixed;
  align-items: center;
  bottom: var(--footer-bottom, 10mm); /* Valor padrão de 10mm */
  left: var(--footer-left, 0); /* Valor padrão de 0 para centralização horizontal */
  width: 100%;
}

.footer-info {
  font-size: 15px;
  text-align: center;
}

.button-container-print {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.custom-button {
  background-color: #a26e35;
  color: rgb(255, 255, 255);
}

.custom-button.print-button {
  margin-right: 10px;
}

.custom-button.cancel-button {
  background-color: #d32f2f;
}
