/* Agendamentos.css */
.agendamento-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo na direção vertical */
    padding: 20px;
    background-color: #fff;
    color: #333;
  }
  
  .agendamento-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ocupa a largura total */
    margin-bottom: 20px;
  }
  
  .agendamento-header h1 {
    color: #a26e35; /* Tonalidade de marrom do seu design */
    font-size: 24px;
  }
  
  .search-bar {
    display: flex;
    justify-content: flex-end; /* Alinha as barras de pesquisa à direita */
    gap: 10px;
    width: 100%; /* Ocupa a largura total */
    margin-bottom: 20px;
  }
  
  .react-calendar {
    max-width: 60vh;
    height: auto;
    border: 1px solid #e0e0e0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .react-calendar__tile--active {
    background-color: #a26e35 !important; /* Marrom do seu design */
    color: white !important;
  }
  
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background-color: #a26e35 !important; /* Marrom do seu design */
  }
  
  /* Estilos para botões e inputs */
  .button-save, .text-field {
    background-color: #a26e35; /* Marrom do seu design */
    color: white;
  }
  
  .button-save:hover {
    background-color: darken(#a26e35, 10%); /* Escurecer o botão no hover */
  }
  
  .text-field {
    border: 1px solid #e0e0e0;
    margin-right: 10px;
  }
  
  /* Estilos para Autocomplete do Material-UI */
  .MuiAutocomplete-root {
    width: 300px; /* Define a largura fixa para o Autocomplete */
  }
  
  .MuiInput-underline:before {
    border-bottom: 1px solid #e0e0e0;
  }
  
  /* Você pode adicionar mais estilização conforme necessário */
  