.container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 10vh; /* Para centralizar verticalmente */
}


.header {
  margin-bottom: 10px;
  text-align: center;
}

.content {
  text-align: center;
  margin-top: 20px; /* Ajuste a distância do topo */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.select-field {
  width: 300px;
}

.horario-card {
  margin-bottom: 20px;
}

.calendar {
  height: 500px;
}
