/* Container principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Header */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.header {
  margin-bottom: 10px;
}

/* Select Médico */
.select-container {
  width: 100%;
  max-width: 300px;
}

.select-field {
  width: 100%;
}

/* Conteúdo principal */
.main-content {
  display: flex;
  width: 100%;
  max-width: 1200px;
}

/* Lista de anos */
.year-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin-right: 20px;
  border-right: 1px solid #ddd;
  padding-right: 10px;
}

.year-button {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 8px;
  background-color: #f5f5f5;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.year-button:hover {
  background-color: #e0e0e0;
}

/* Lista de meses */
.month-list {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
}

.month-button {
  margin: 0 5px;
  padding: 8px;
  background-color: #f5f5f5;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.month-button:hover {
  background-color: #e0e0e0;
}

/* Lista de dias */
.day-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
  padding: 0 10px;
}

.dia-button {
  background-color: #f0f0f0;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.dia-button:hover {
  background-color: #e0e0e0;
}

.dia-selecionado {
  background-color: #d0d0d0;
}

/* Cards de agendamentos */
.agendamento-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px; /* Reduz o espaçamento interno */
  margin-bottom: 8px; /* Reduz o espaçamento entre os cards */
  border-radius: 5px;
  transition: all 0.3s ease;
  height: 60px; /* Define uma altura fixa menor */
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Conteúdo do card */
.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Informações principais do card */
.card-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-info .MuiTypography-subtitle1 {
  font-weight: bold;
  font-size: 14px; /* Ajuste do tamanho do nome */
}

.card-info .MuiTypography-body2 {
  font-size: 12px; /* Ajuste do tamanho do horário */
}

/* Botões de ação */
.card-actions {
  flex-shrink: 0;
  display: flex;
  gap: 5px;
}

.card-actions button {
  padding: 3px 6px; /* Reduz o tamanho dos botões */
  font-size: 10px; /* Ajusta o tamanho da fonte */
}

/* Cores de status */
.status-pendente {
  border-left: 5px solid orange;
}

.status-confirmado {
  border-left: 5px solid green;
}

.status-desmarcado {
  border-left: 5px solid red;
}

.status-encaixado {
  border-left: 5px solid blue;
}

.status-chegou {
  border-left: 5px solid yellow;
}

/* Legenda */
.legenda-container {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legenda {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.legenda-item {
  display: flex;
  align-items: center;
}

.legenda-cor {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 3px;
}

.status-confirmado {
  background-color: green;
}

.status-desmarcado {
  background-color: red;
}

.status-pendente {
  background-color: orange;
}

.status-encaixado {
  background-color: blue;
}

/* Responsividade */
@media (max-width: 600px) {
  .header-container {
    width: 100%;
  }

  .select-container {
    max-width: none;
  }

  .agendamento-container {
    padding: 10px;
  }

  .agendamento-card {
    width: 100%;
    margin-bottom: 8px;
    height: auto; /* Para ajustar em telas pequenas */
  }

  .card-actions {
    flex-wrap: wrap;
  }

  .legenda {
    flex-direction: column;
    align-items: center;
  }

  .legenda-item {
    margin-bottom: 10px;
  }
}